.mapImage {
    width: 1600px;
    height: 640px;
    border: 10px solid darkblue;
}


.thumbnail {
    /* max-width: 200px; */
    position: relative;
    left: 40px;
    bottom: 5px;
    width: 1500px;
    height: 663px;
    /* background-size: cover; */
    /* background-position: center; */
}

.button {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 30px;
}
