.container2 {
    display: grid;
    place-items: center;
}

.mapImage {
    display: grid;
    width: 1600px;
    height: 640px;
    border: 10px solid darkblue;
    place-items: center;
}


.thumbnail {
    /* max-width: 200px; */
    position: relative;
    width: 1500px;
    height: 600px;
    /* background-size: cover; */
    /* background-position: center; */
}

.mapImg3 {
    position: absolute;
    bottom: 10px;
}


.button {
    position: absolute;
    text-align: center;
    width: 60px;
    height: 30px;
}
